@import 'variables';
.sidebarBox {
  height: calc(100% - 40px);
  background-color: #ffffff;
  width: 274px;
  top: 20px;
  left: 20px;
  position: fixed;
  box-shadow: $box-shadow-default;
  border-radius: 10px;
}

.logo {
  height: 74px;
  padding: 0 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  .logo_link {
    display: flex;
    height: 100%;
    text-decoration: none;
    align-items: center;
    .logo_img {
      border-radius: 20%;
      height: 100%;
    }
    .logo_text {
      font-size: 40px;
      font-weight: 700;
      font-family: cursive;
      margin: 0 0 0 10px;
      color: #000000;
    }
  }
}
.sidebarMenu {
  height: calc(100% - 200px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  padding: 0 0 0 20px!important;
  .MuiListItemButton-root {
    // transition: background-color 0.3s ease, color 0.3s ease;
    // &:hover {
    //   background-color: rgba($primary-color, 0.1);
    //   color: rgba($primary-color, 0.9);
    // }
  }
}

.btn-rounded-circle-40{
  min-width: 40px !important;
    padding: 0 !important;
    height: 40px;
    border-radius: 100% !important;
}
